ul li {
  list-style-type: none;
  padding-left:0;
}

.sidebar {
  background-color: #E6E6E6;
  padding-bottom:10px;
}

.ll-cool-div {
  padding-top: 10px;
}

.listing-description {
  background-color: #E6E6E6;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

label {
  font-size: 20px;
}
