<h2>
  {{model.name}}
</h2>

<ul>
  {{#each model.listings as |listing|}}
    <li>
      <h4>
        {{listing.title}}<br>
        <small>{{listing.description}}</small>
      </h4>
    </li>
  {{/each}}
</ul>
